<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>cerberusweb.openid</id>
	<name>OpenID Integration</name>
	<description>Authenticate worker logins via OpenID</description>
	<author>Webgroup Media, LLC.</author>
	<version>1.0.29</version>
	<link>http://www.cerbweb.com/book/latest/plugins/cerberusweb.openid.html</link>
	<image>plugin.png</image>

	<!-- Requirements -->

	<requires>
		<app_version min="8.0.0" max="8.0.99" />
		<php_extension name="curl" />
	</requires>

	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="8.0.0" />
	</dependencies>

	<!-- Patches -->
	
	<patches>
		<patch version="5.1.0" revision="1" file="patches/5.1.0.php" />
	</patches>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/dao/openid_to_worker.php">
			<class name="DAO_OpenIDToWorker" />
			<class name="Model_OpenIDToWorker" />
			<class name="Plugin_OpenIDToWorker" />
			<class name="SearchFields_OpenIDToWorker" />
			<class name="View_OpenIDToWorker" />
		</file>
	</class_loader>

	<!-- Extensions -->

	<extensions>

		<!--  Login Extensions -->

		<extension point="cerberusweb.login">
			<id>login.openid</id>
			<name>OpenID</name>
			<class>
				<file>api/App.php</file>
				<name>ChOpenIdLoginModule</name>
			</class>
			<params>
				<param key="uri" value="openid" />
			</params>
		</extension>

	</extensions> 
</plugin>
